################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LKV_First/.vs/LKV_First/v15
/LKV_First/Debug
/LKV_First/__vm
/LKV_First/LKV_First.vcxproj
/LKV_First/LKV_First.vcxproj.filters
/.vs/LKV/v15
/LKV_First/Release
/.vs/LKV/v16
/lkvps
/LKV_Second/.vs/LKV_Second/v16
/LKV_Second/Debug
/LKV_Second/__vm
/LKV_Second/LKV_Second.vcxproj.filters
/LKV_Second/LKV_Second.vcxproj.user
/LKV_First/LKV_First.vcxproj.user
/configurations.bak
/LKV_Third/.vs/LKV_Third/v16
/LKV_Third/__vm
/LKV_Third/LKV_Third.vcxproj.user
/LKV_Third/LKV_Third.vcxproj.filters
